:root {
    background: #080014;
    color: #3d4e9c;
}
body {
    isolation: isolate;
}

#gameDisplay {
    display: grid;
    overflow: clip;
}
#gameDisplay > * {
    grid-row: 1;
    grid-column: 1;
}
canvas {
    border: 1px solid transparent;
    margin: 1ex;
    background: #08001480;
    filter: blur(0);
/*     mix-blend-mode: lighten; */
}

canvas.layer-above {
    filter: blur(calc(1px + 0.5px * var(--layer-offset))) brightness(2);
    opacity: calc(0.3 / var(--layer-offset));
    scale: calc(1 + var(--layer-offset) * .05);
    background: none;
}

canvas.layer-below {
    filter: blur(calc(-0.5px * var(--layer-offset)));
    scale: calc(1 + var(--layer-offset) * .05);
}

canvas.layer-focus {
    z-index: 1;
    border-color: currentColor;
}

#tilesheets {
    display: none;
}