:root {
    background: #080014;
    color: #3d4e9c;
}

input {
    background: #080014;
    color: #7686ce;
}
body {
    isolation: isolate;
}

#gameDisplay {
    border: 1px solid currentColor;
    margin: 1ex;
    display: inline grid;
    grid: "display" calc(16px * var(--focus-rows)) / calc(16px * var(--focus-cols));
    overflow: clip;
    align-items: center;
    justify-items: center;
}
#gameDisplay > * {
    grid-row: 1;
    grid-column: 1;
}
canvas {
    background: #08001480;
    filter: blur(0);
/*     mix-blend-mode: lighten; */
}

canvas.layer-above {
    filter: blur(calc(0.75px * var(--layer-offset))) brightness(calc(1 + 0.1 * var(--layer-offset)));
    opacity: calc(1.1 - 0.2 * var(--layer-offset));
    scale: calc(1 + var(--layer-offset) * .1);
    background: none;
}

canvas.layer-below {
    filter: blur(calc(-0.5px * var(--layer-offset)));
    scale: calc(1 + var(--layer-offset) * .1);
}

canvas.layer-focus {
    border-color: currentColor;
}

.hidden {
    display: none;
}

dl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

dt::after {
    content: ":"
}

dl > div:has(+div) > dd::after {
    content: ","
}

dt, dd {
    display: inline;
    margin: 0;
}

#tilesheets {
    display: none;
}